.selected {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.selected:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



.table .table-wrapper {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    padding: 5px;
    overflow-y: scroll;
    margin-bottom: 5px;
}

 table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.table .table-wrapper table tr {
    user-select: none;
}

td, th {
    border: 1px solid black;
}

.text {
    padding: 5px;
    height: 100px;
    width: 400px;
    border: 1px solid black;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.text h2 {
    margin: 5px;
}