.selected {
    background-color: rgba(0, 0, 0, 0.2);
}

.selected:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid black;
    user-select: none;
}

.wrapper {
    background-color: grey;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.table-wrapper table {
    background-color: white;
    width: 100%;
}

.buttons {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

.buttons button {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.buttons button:hover {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

.buttons button:active {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.05);
}

.buttons button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.note {
    padding: 5px;
    background-color: grey;
    border: 1px solid black;
    margin-bottom: 20px;
}

.note-content {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.note h3 {
    margin: 5px;
    margin-bottom: 10px;
}

.note p {
    margin: 5px;
}