<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="table">
            <h1>Таблица "Типы оборудований"</h1>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Категория</th>
                            <th>Наименование</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text">
                <h2>Характеристика</h2>
                <p></p>
            </div>
            <div class="buttons">
                <button class="addButton">Добавить</button>
                <button class="editButton">Редактировать</button>
                <button class="deleteButton">Удалить</button>
            </div>
        </div>
        <a href="/">Вернуться на главную</a>
    </body>
</html>