<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Типы оборудования</title>
        <link type="text/css" rel="stylesheet" href="../styles/table.css">
        <link type="text/css" rel="stylesheet" href="../styles/selector.css">
        <link type="text/css" rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <h1>Типы оборудования</h1>
        <div class="table-wrapper wrapper">
            <table  th:fragment="type-table">
                <thead>
                    <tr>
                        <th>Категория</th>
                        <th>Наименование</th>
                    </tr>
                </thead>
                <tbody id="type-tbody">
                    <tr th:each="type : ${types}" th:id="${type.id}" th:classappend="${typeId==type.id?'selected':''}">
                        <td th:text="${type.category}"></td>
                        <td th:text="${type.name}"></td>
                        <td hidden th:text="${type.characteristic}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="note">
            <div class="note-content">
                <h2>Характеристика</h2>
                <p id="note"></p>
            </div>
        </div>
        <div class="buttons-wrapper wrapper">
            <div class="buttons">
                <button id="addButton">Добавить</button>
                <button id="editButton">Редактировать</button>
                <button id="deleteButton">Удалить</button>
            </div>
            
        </div>
        <a href="/">Вернуться на главную</a>
    <script src="js/eqType.js"></script>
    </body>
</html>