<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Оборудование</title>
    <link rel="stylesheet" href="../styles/table.css">
</head>
<body>
<h1>Оборудование</h1>
    <div>
        <table id="eq-table">
            <thead>
                <tr>
                    <th>Инвентарный номер</th>
                    <th>Тип оборудования</th>
                    <th>Примечание</th>
                    <th>Исправен</th>
                    <th>Класс / место</th>
                </tr>
            </thead>
            <tbody id="eq-tbody" th:insert="~{rows/eqRows}">
            </tbody>
        </table>
        <div class="note">
            <p id="eq-note"></p>
        </div>
        <div class="buttons">
            <button id="delete-button">Снять с учета</button>
        </div>
    </div>
    <a href="/">Вернуться на главную</a>
    <script src="js/eq.js"></script>
</body>
</html>