
<!DOCTYPE html>
<html>
    <head>
        <title>Учебные места</title>
        <link rel="stylesheet" href="../styles/table.css">
    </head>
    <body>
        <div>
            <h1>Учебные места</h1>
            <div class="class-selector">
                <span>Класс</span>
                <select th:insert="/opts/classOpts">
                </select>
            </div>
            <hr/>
            <table class="place-table table">
                <thead>
                    <tr>
                        <th>№ места</th>
                        <th>Имя станции</th>
                        <th>IP-адрес</th>
                        <th hidden>Примечание</th>
                    </tr>
                </thead>
                <tbody id="place-tbody">
                </tbody>
            </table>
            <hr/>
            <div>
                <h3>Примечание</h3>
                <p id="place-note"></p>
            </div>
            <hr>
            <div class="buttons">
                <button id="add-button" disabled>Добавить место</button>
                <button id="edit-button" disabled>Изменить место</button>
                <button id="del-button" disabled>Удалить место</button>
            </div>
            <hr/>
            <h2>Оборудование</h2>
            <hr/>
            <table class="eq-table table">
                <thead>
                    <tr>
                        <th>Инв. номер</th>
                        <th>Тип</th>
                        <th>Характеристика</th>
                        <th>Испр.</th>
                        <th hidden>Примечание</th>
                    </tr>
                </thead>
                <tbody id="eq-tbody">
                </tbody>
            </table>
            <hr/>
        </div>
        <hr/>
        <a href="/">Вернуться на главную</a>
        <script src="js/places.js"></script>
    </body>
</html>