<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Журнал технического обслуживания</title>
    <link rel="stylesheet" href="../styles/table.css">
    <link type="text/css" rel="stylesheet" href="../styles/selector.css">
    <link type="text/css" rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <h1>Журнал технического обслуживания</h1>
    <div class="selectors">
        <div class="selector">
            <label>Класс</label>
            <select id="class-select"  th:insert="~{/opts/classOpts}"></select>
        </div>
        <div class="selector">
            <label>Учебное место</label>
            <select id="place-select"></select>
        </div>
    </div>
    <hr>
    <div class="table-wrapper wrapper">
        <table id="serv-table">
            <thead>
                <tr>
                    <th>Дата устан.</th>
                    <th>Дата снят.</th>
                    <th>Инв. ном.</th>
                    <th>Тип</th>
                    <th>Характеристика</th>
                    <th>Испр.</th>
                </tr>
            </thead>
            <tbody id="serv-table-tbody"></tbody>
        </table>
    </div>
    <div class="note">
        <div class="note-content">
            <h3>Примечание</h3>
            <p id="serv-note"></p>
        </div>
    </div>
    <a href="/">Вернуться на главную</a>
    <script src="/js/servJs.js"></script>
</body>
</html>