<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <ul>
        <li><a href="/eq">Оборудование</a></li>
        <li><a href="/eq/lp-eq">Оборудование учебного места</a></li>
        <li><a href="/serv">Журнал технического обслуживания</a></li>
        <li><a href="/classes">Классы</a></li>
        <li><a href="/eqTypes">Типы оборудования</a></li>
        <li><a href="/place">Учебные места</a></li>
    </ul>
</body>
</html>