<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 id="page-title">Добавление класса</h1>
        <form id="class-form">
            <h2>Класс</h2>
            <div class="resp-caf-id-input">
                <label>Id ответственной кафедры</label>
                <input id="resp-caf-id-input" name="cafId" required>
            </div>
            <div class="max-places-input">
                <label>Макс. количество мест</label>
                <input id="max-places-input" name="maxPlaces" required>
            </div>
            <div class="note-input">
                <label>Примечание</label>
                <textarea id="note-input" name="note"></textarea>
            </div>
            <h2>Адрес</h2>
            <div class="pref-select">
                <label>Префикс улицы</label>
                <select id="pref-select" name="pref" required>
                    <option>улица</option>
                    <option>проспект</option>
                    <option>переулок</option>
                </select>
            </div>
            <div class="street-input">
                <label>Улица</label>
                <input id="street-input" name="street" required>
            </div>
            <div class="house-input">
                <label>Дом</label>
                <input id="house-input" name="house" required>
            </div>
            <div class="place-input">
                <label>Помещение</label>
                <input id="place-input" name="place" required>
            </div>
            <div class="phone-number-input">
                <label>Номер телефона</label>
                <input id="phone-number-input" name="phoneNumber">
            </div>
        </form>
        <div class="buttons">
            <button id="save-button" form="class-form">Сохранить</button>
            <button id="cancel-button">Отмена</button>
        </div>
        <script src="/js/classEditor.js"></script>
    </body>
</html>

