<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link type="text/css" rel="stylesheet" href="../styles/main.css">
    <link type="text/css" rel="stylesheet" href="../styles/table.css">
    <link type="text/css" rel="stylesheet" href="../styles/editor.css">
</head>

<body>
    <h1 id="page-title">Добавление оборудования</h1>
    <div class="fields">
        <form id="add-eq-form" method="post">
            <div id="chars">
                <div class="table-wrapper field">
                    <h3>Тип оборудования</h3>
                    <table th:replace="~{tables/eqType :: type-table}">
                    </table>
                    <input hidden id="type-id" name="typeId">
                </div>
                <div class="inv-num-wrapper field">
                    <label>Инвентарный номер</label>
                    <input id="inv-num" name="invNum">
                </div>
                <div class="note-wrapper field">
                    <h3>Примечание</h3>
                    <textarea id="note" name="note"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="buttons-wrapper">
        <div class="buttons">
            <button id="save-button" form="add-eq-form">Сохранить</button>
            <button id="cancel-button">Отменить</button>
        </div>
    </div>
    <script src="../js/eqEditor.js"></script>
</body>

</html>